In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
data = pd.read_csv("data/avocado.csv")
data.drop('Unnamed: 0', axis=1, inplace=True)
data.sample(5)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
3693,2016-12-18,1.22,304051.46,4769.87,256345.63,995.37,41940.59,41573.47,224.83,142.29,conventional,2016,HartfordSpringfield
17965,2018-02-25,1.50,30553.46,12.00,779.62,0.00,29761.84,29761.84,0.00,0.00,organic,2018,NorthernNewEngland
14271,2016-01-10,1.60,6107.02,691.10,2094.93,360.62,2960.37,2748.16,212.21,0.00,organic,2016,SouthCarolina
9500,2015-10-18,1.97,3681.19,336.37,1394.00,1143.22,807.60,807.60,0.00,0.00,organic,2015,Charlotte
3937,2016-04-10,0.87,354098.37,151862.79,91833.73,6305.12,104096.73,48046.60,56050.13,0.00,conventional,2016,LasVegas